src/META-INF/employees.php.xml

<?xml version="1.0"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/uup-soap/employees.php" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://localhost/uup-soap/employees.php">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://localhost/uup-soap/employees.php">
      <xsd:complexType name="EmployeeList">
        <xsd:all>
          <xsd:element name="_employees" type="tns:Employee"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Employee">
        <xsd:all>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="company" type="tns:Company"/>
          <xsd:element name="job" type="tns:Job"/>
          <xsd:element name="boss" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Company">
        <xsd:all>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="address" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Job">
        <xsd:all>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="salary" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="dump" type="tns:dump"/>
      <xsd:complexType name="dump">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="dumpResponse" type="tns:dumpResponse"/>
      <xsd:complexType name="dumpResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:EmployeeList" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="identities" type="tns:identities"/>
      <xsd:complexType name="identities">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="identitiesResponse" type="tns:identitiesResponse"/>
      <xsd:complexType name="identitiesResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="lookup" type="tns:lookup"/>
      <xsd:complexType name="lookup">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="lookupResponse" type="tns:lookupResponse"/>
      <xsd:complexType name="lookupResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:Employee" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="find" type="tns:find"/>
      <xsd:complexType name="find">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="findResponse" type="tns:findResponse"/>
      <xsd:complexType name="findResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:Employee" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="company" type="tns:company"/>
      <xsd:complexType name="company">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="companyResponse" type="tns:companyResponse"/>
      <xsd:complexType name="companyResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:Company" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="job" type="tns:job"/>
      <xsd:complexType name="job">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="jobResponse" type="tns:jobResponse"/>
      <xsd:complexType name="jobResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:Job" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="boss" type="tns:boss"/>
      <xsd:complexType name="boss">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="bossResponse" type="tns:bossResponse"/>
      <xsd:complexType name="bossResponse">
        <xsd:sequence>
          <xsd:element name="return" type="tns:Employee" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="add" type="tns:add"/>
      <xsd:complexType name="add">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
          <xsd:element name="employee" type="tns:Employee" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addResponse" type="tns:addResponse"/>
      <xsd:complexType name="addResponse">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="update" type="tns:update"/>
      <xsd:complexType name="update">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
          <xsd:element name="employee" type="tns:Employee" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateResponse" type="tns:updateResponse"/>
      <xsd:complexType name="updateResponse">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="delete" type="tns:delete"/>
      <xsd:complexType name="delete">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteResponse" type="tns:deleteResponse"/>
      <xsd:complexType name="deleteResponse">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="dump">
    <wsdl:part element="tns:dump" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="identities">
    <wsdl:part element="tns:identities" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="lookup">
    <wsdl:part element="tns:lookup" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="find">
    <wsdl:part element="tns:find" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="company">
    <wsdl:part element="tns:company" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="job">
    <wsdl:part element="tns:job" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="boss">
    <wsdl:part element="tns:boss" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="dumpResponse">
    <wsdl:part element="tns:dumpResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="identitiesResponse">
    <wsdl:part element="tns:identitiesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="lookupResponse">
    <wsdl:part element="tns:lookupResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findResponse">
    <wsdl:part element="tns:findResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="companyResponse">
    <wsdl:part element="tns:companyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="jobResponse">
    <wsdl:part element="tns:jobResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bossResponse">
    <wsdl:part element="tns:bossResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EmployeesPortType">
    <wsdl:operation name="dump">
      <wsdl:documentation>
	Get all employees.
	@return EmployeeList </wsdl:documentation>
      <wsdl:input message="tns:dump" name="dump"/>
      <wsdl:output message="tns:dumpResponse" name="dumpResponse"/>
    </wsdl:operation>
    <wsdl:operation name="identities">
      <wsdl:documentation>
	Get all user identities.
	@return string </wsdl:documentation>
      <wsdl:input message="tns:identities" name="identities"/>
      <wsdl:output message="tns:identitiesResponse" name="identitiesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="lookup">
      <wsdl:documentation>
	Get employee record.
	@param string The user identity. [name=user]
	@return Employee </wsdl:documentation>
      <wsdl:input message="tns:lookup" name="lookup"/>
      <wsdl:output message="tns:lookupResponse" name="lookupResponse"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:documentation>
	Get employee records.
	@param string The employee name. [name=name]
	@return Employee </wsdl:documentation>
      <wsdl:input message="tns:find" name="find"/>
      <wsdl:output message="tns:findResponse" name="findResponse"/>
    </wsdl:operation>
    <wsdl:operation name="company">
      <wsdl:documentation>
	Get company of this employee.
	@param string The user identity. [name=user]
	@return Company </wsdl:documentation>
      <wsdl:input message="tns:company" name="company"/>
      <wsdl:output message="tns:companyResponse" name="companyResponse"/>
    </wsdl:operation>
    <wsdl:operation name="job">
      <wsdl:documentation>
	Get job of this employee.
	@param string The user identity. [name=user]
	@return Job </wsdl:documentation>
      <wsdl:input message="tns:job" name="job"/>
      <wsdl:output message="tns:jobResponse" name="jobResponse"/>
    </wsdl:operation>
    <wsdl:operation name="boss">
      <wsdl:documentation>
	Get user boss.
	@param string The user identity. [name=user]
	@return Employee </wsdl:documentation>
      <wsdl:input message="tns:boss" name="boss"/>
      <wsdl:output message="tns:bossResponse" name="bossResponse"/>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:documentation>
	Add employee record.
	@param string The user identity. [name=user]
	@param Employee The employee record. [name=employee]</wsdl:documentation>
      <wsdl:input message="tns:add" name="add"/>
      <wsdl:output message="tns:addResponse" name="addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:documentation>
	Update employee record.
	@param string The user identity. [name=user]
	@param Employee The employee record. [name=employee]</wsdl:documentation>
      <wsdl:input message="tns:update" name="update"/>
      <wsdl:output message="tns:updateResponse" name="updateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:documentation>
	Delete employee record.
	@param string The user identity. [name=user]</wsdl:documentation>
      <wsdl:input message="tns:delete" name="delete"/>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesBinding" type="tns:EmployeesPortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="dump">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="identities">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="lookup">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="find">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="company">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="job">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="boss">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="add">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="update">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="delete">
      <wsdl:input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesService">
    <wsdl:port xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="EmployeesPort" binding="tns:EmployeesBinding">
      <soap-env:address xmlns="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost/uup-soap/employees.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
